<mat-card class="home__chart" fxFlex="100" fxFlex.gt-sm="61">
  <mat-card-header>
    <div class="home__chart__title" fxLayout fxLayoutAlign="space-between center">
      <span>Conributions (last year)</span>
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content class="home__chart__content">
      <ngx-charts-line-chart [results]="participation$ | async"
                             [scheme]="colorScheme"
                             [xAxis]="true"
                             [yAxis]="true"
                             [showXAxisLabel]="true"
                             [showYAxisLabel]="true"
                             [xAxisLabel]="xAxisLabel"
                             [yAxisLabel]="yAxisLabel"
                             [autoScale]="true"
                             (select)="onSelect($event)">
      </ngx-charts-line-chart>
  </mat-card-content>
</mat-card>

<mat-card class="home__chart" fxFlex="100" fxFlex.gt-sm="35.3">
  <mat-card-header>
    <div class="home__chart__title" fxLayout fxLayoutAlign="space-between center">
      <span>Stats</span>
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon color="accent">star</mat-icon>
        <h4 mat-line>{{(info$ | async)?.stargazers_count}}</h4>
        <p mat-line> stargazers </p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon color="accent">content_copy</mat-icon>
        <h4 mat-line>{{(info$ | async)?.forks_count}}</h4>
        <p mat-line> forks </p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon color="accent">bug_report</mat-icon>
        <h4 mat-line>{{(info$ | async)?.open_issues_count}}</h4>
        <p mat-line> open issues </p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon color="accent">rss_feed</mat-icon>
        <h4 mat-line>{{(info$ | async)?.subscribers_count}}</h4>
        <p mat-line> subscribers </p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>


<mat-card class="home__chart" fxFlex="100" fxFlex.gt-sm="45.3">
  <mat-card-header>
    <div class="home__chart__title" fxLayout fxLayoutAlign="space-between center">
      <span>Languages</span>
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content class="home__chart__content" *ngIf="languages$ | async">
      <ngx-charts-pie-chart [results]="languages$ | async"
                            [scheme]="colorScheme"
                            [labels]=true
                            [doughnut]=true
                            (select)="onSelect($event)">
      </ngx-charts-pie-chart>
  </mat-card-content>
</mat-card>

<mat-card class="home__chart" fxFlex="100" fxFlex.gt-sm="51">
  <mat-card-header>
    <div class="home__chart__title" fxLayout fxLayoutAlign="space-between center">
      <span>Top contributors</span>
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content class="home__chart__content">
      <ngx-charts-bar-vertical [results]="contributors$ | async"
                               [scheme]="colorScheme"
                               [gradient]="true"
                               [xAxis]="true"
                               [yAxis]="true"
                               [legend]=false
                               (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
  </mat-card-content>
</mat-card>
